export(genCompositions,genSmoothingCovIMA,genFilterStack,
       genGetDates,senGetDates,lsGetDates,modGetDates,
       genLimitRasterRange,genMosaicList,genPlotGIS,
       genSaveTSRData,genSmoothingIMA,ls7FolderToVar,
       ls7LoadMetadata,ls7Search,ls8FolderToVar,lsMosaic,
       ls8LoadMetadata,lsRemoveMetadata,ls8Search,lsGetPathRow,lsPreview,modGetPathRow,
       lsDownload,lsDownSearch,modExtractHDF,modFolderToVar,modDownload,
       modGetPathRow,modMosaic,modPreview,modDownSearch,modSearch,setRGISToolsOpt,
       getRGISToolsOpt,showRGISToolsOpt,senDownload,senDownSearch,senGetTile,senGetOrbit,
       senFolderToVar,senSearch,senMosaic,senPreview,varEVI,varMSAVI2,varNBR,
       varNBR2,varNDMI,varNDVI,varNDWI,varRGB,varSAVI,lsCloudMask,senCloudMask,modCloudMask,
       lsEspaOrderImages,lsEspaGetOrderImages,lsEspaUpdateOrders,lsEspaDownloadOrders)
import("raster","curl", "rjson","rvest", "urltools","tools",
       "fields","sf")
importFrom("stats", "na.omit")
importFrom("mapview","viewRGB")
importFrom("methods", "formalArgs")
importFrom("httr","POST","authenticate")
importFrom("sp","bbox","layout.scale.bar","layout.north.arrow",
           "proj4string","spplot","Polygons","Polygon",
           "SpatialPolygons","CRS","spTransform")
importFrom("XML","xmlNativeTreeParse","xmlSApply",
           "xmlValue","xmlRoot")
importFrom("xml2","read_xml","xml_attr",
           "read_html")
importFrom("utils", "URLencode", "data", "download.file",
           "read.csv","untar")
importFrom("Rdpack","reprompt")
